<div class="box">
  <div class="col-lg-12">
    <hr>
    <h2 class="intro-text text-center">Our
      <strong>Location</strong>
    </h2>
    <hr>
  </div>
  <div class="col-md-8">
    <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
    <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Nemeth%20Grinding%2C%20Hollingsworth%20Drive%2C%20Glencoe%2C%20AL%2035905%2C%20United%20States&key=AIzaSyA_4Am7ZMP5bUtTjXchFxa8qLvG3KmAPlc"></iframe>
  </div>
  <div class="col-md-4">
    <p>Address:
        <br><strong>101 Hollingsworth Drive
        <br>Glencoe, AL 35905</strong>
    </p>
    <p>
      Conveniently located on the corner of US-431 and Hollingsworth Drive, between US-431 mile markers 249 and 250.
    </p>
    </div>
    <div class="clearfix"></div>
  </div>
