<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Nemeth Grinding | Phone 256.494.0244 | Fax 256.494.0257</p>
      </div>
    </div>
  </div>
</footer>
